---

services:
  bjoern:
    build:
      context: .
      dockerfile: bjoern.Dockerfile
      target: development
    ports:
      - "8000:8000"
    volumes:
    - .:/build
    cpu_count: 1

  granian:
    build:
      context: .
      dockerfile: granian.Dockerfile
      target: development
    ports:
    - "8001:8000"
    volumes:
    - .:/build
    cpu_count: 1

  gunicorn:
    build:
      context: .
      dockerfile: gunicorn.Dockerfile
      target: development
    ports:
    - "8001:8000"
    volumes:
    - .:/build
    cpu_count: 1

  uvicorn:
    build:
      context: .
      dockerfile: uvicorn.Dockerfile
      target: development
    ports:
    - "8002:8000"
    volumes:
    - .:/build
    cpu_count: 1
